<h1>Hugging!!</h1>
<h2>Who's hugging?</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    Hugger one's name?
    <input type="text" name="player1"/>
  </label>
  <lable for="player_2_name">
    Hugger two's name?
    <input type="text" name="player2"/>
  </lable>
  <input type="submit" value="HUG TO THE DEATH!"/>
</form>
