<form action="/names" method="post">
  <div>
Player 1 <input type="text" name="player1" />
</div>
<div>
Player 2 <input type="text" name="player2" />
</div>
<input type="submit" value="Submit" />
</form>
