<h1><%= @game.player1.name %> Vs. <%= @game.player2.name %></h1>

<h2><%= @game.player2.name %>: <%=@game.player2.hug_points%>HP</h2>

<form action="/hug_player_2">
  <input type="submit" value="HUG PLAYER 2!"/>
</form>
